# .air.toml
root = "."
tmp_dir = "tmp"

[build]
cmd = "swag init --generalInfo ./cmd/main.go --output docs && go build -o ./tmp/main ./cmd/main.go"
bin = "./tmp/main"
include_ext = ["go", "tpl", "tmpl", "html"]
exclude_dir = ["assets", "tmp", "vendor", "docs"]
delay = 3000

[log]
time = true
